---
layout: default2

---

 
<div class="leftmenu">

<h1>Articles</h1>


{% if site.data.resourcelist.toc2[0] %}
  {% for item in site.data.resourcelist.toc2 %}
    <h3>{{ item.title }}</h3>
      {% if item.subfolderitems[0] %}
        <ul>
          {% for entry in item.subfolderitems %}
              <li><a href="{{ entry.url }}">{{ entry.page }}</a>
                {% if entry.subsubfolderitems[0] %}
                  <ul>
                  {% for subentry in entry.subsubfolderitems %}
                      <li><a href="{{ subentry.url }}">{{ subentry.page }}</a></li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
{% endif %}
</div>

</div>



<div class="main">

<div id="textbox">
<h1> {{ page.title }} </h1>


{{content}}


</div> 
</div>

